/*C:\Users\aluno.den\projetoluiza\src\components\FormularioCadastro\style.css*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* fundo gradiente*/
    background: linear-gradient(
        to bottom right,
        rgba(0, 128, 0, 0.459),     
        rgba(240, 236, 2, 0.507), 
        rgba(7, 3, 228, 0.452)      
    ),
    url('../../assets/images/banner.png'); 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*.container {
    background: rgba(5, 94, 228, 0.562);
    padding: 50px 100px;
    border-radius: 20px;
    box-shadow: 5px 0px 20px rgba(199, 6, 6, 0.2);
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}*/

.container img {
    width: 120px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #026d3b;
    font-size: 15px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #011925;
    box-shadow: 0 0 5px rgba(0, 166, 251, 0.3);
}

button {
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0a4717;
}

.link-usuarios {
    margin-top: 16px;
    padding: 12px;
    text-align: center;
    display: block;
    background-color: #00a6fb;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.link-usuarios:hover {
    background-color: #032742;
}

form select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
}

form select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #026640;
}

